---
import { ClientRouter } from 'astro:transitions';
import LodeStar from './LodeStar.svelte';
import '@fontsource/space-mono'
const lang = Astro.currentLocale
const curr = Astro.originPathname.slice(4)
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>RaskieL</title>
</head>
<header>
    <LodeStar client:load lang={lang} curr={curr}/>
</header>