---
const {pageTitle} = Astro.props
import CommonHead from '../components/CommonHead.astro'
import Footer from '../components/Footer.astro'
---

<html lang="fr">
	<CommonHead title={"RaskieL - "+pageTitle} />
    <body>
        <hr>
            <h1>{pageTitle}</h1>
        <hr>
        <div class="main-content">
            <slot />
        </div>
    </body>
    <Footer></Footer>
</html>
